
@{
    ViewBag.Title = "Список для пересева";
}

<h3>Список для пересева</h3>
@* в Shared не заработало
    @Html.Partial("~/Viwes/Shared/WebFormRptBoxes.aspx")
*@
<div>
    <iframe id="Reports_boxes" src="~/RPTWebForms/WebFormPrtSeeds.aspx"
            width="90%" height="1000"></iframe>
</div>
