@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>
@*<h3>@ViewBag.Message</h3>*@

<address>
    42-46, B. Morskaya Street,<br />
    190000, St. Petersburg<br />
    Russia<br />
    <abbr title="Phone">P:</abbr>
    +7-812-315-50-93
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:v.korneev@vir.nw.ru">V.Korneev@vir.nw.ru</a><br />
</address>