@* Andrei 03.02.2015 *@
@{
    ViewBag.Title = "Information";      
}
@*<h3>@ViewBag.Title.</h3>*@
@*<h3>@ViewBag.Message</h3>*@

<div class="btn">   
    <p>
        <h3>Archival information</h3>       
    </p>
</div>

<div class="row">
        <div class="col-md-3">
            <h5>FAO/IPGRI MULTI-CROP PASSPORT DESCRIPTORS</h5>
            <p>
                MCPD in PDF
            </p>
             <p><a href="http://vir.nw.ru/data/mcpd.pdf">Learn more &raquo;</a></p>
         </div>
        <div class="col-md-3">
             <h5>Archive.  Passport data.</h5>
            <p>
                <a href="http://vir.nw.ru/dev/php/group.list.php" target="db">Search Form</a> 
            </p>
            <p>
                <a href="http://vir.nw.ru/data/descrip.htm#passport" target="db">Passport Descriptors</a> 
            </p>
            <p>
                Decoding for field of:
            </p>
            <p>
                <a href="http://vir.nw.ru/data/descrip.htm#lifform" target="db">LIFFOM</a>
            </p>
            <p>
                <a href="http://vir.nw.ru/data/descrip.htm#sampstat" target="db">SAMPSTAT</a>
            </p>            
         </div>

</div>
   
@* Andrei 03.02.2015 *@